pyTelegramBotAPI
openai
pymongo
python-dotenv
requests
tqdm
PyPDF2
python-docx
groq
python-dotenv
flask
pypdf
python-pptx
PyMuPDF
google.genai
cohere
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
apscheduler
